.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  background: var(--secundary-color);
}

.copyright {
  background: var(--primary-color);
}

.copyright p,
.copyright a {
  font-size: 1.2rem;
}
