<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/tomdosom/css/style.css">
  <link rel="stylesheet" href="/tomdosom/css/cad-produtos.css">
  <title>Cadastro de Produtos</title>
</head>

<body>

  <div>
    <h1>GERENCIAMENTO DE PRODUTOS</h1>

    <form action="form1" method="post" action="cad-produtos.php" enctype="multipart/form-data">
      <input type="hidden" name="idpro" value="idproPHP">
      <table id="tabelaCat">
        <tr>
          <td><span class="titulodois">CATEGORIA:</span></td>
          <td>
            <select name="idcat" class="entradaselect" required>
              <option value="0">Selecione</option>
              <!-- BLOCO CATEGORIAS -->
              {foreach $minhasCategorias as $c}
              <option value="{$c.idcat}">{$c.categoria}</option>
              {/foreach}
              <!-- FIM DO BLOCO CATEGORIAS -->
            </select>
          </td>
        </tr>

        <tr>
          <td><span class="titulodois">DESCRIÇÃO PRODUTO:</span></td>
          <td><textarea name="descricaoPro" class="produtoDesc"></textarea></td>
        </tr>

        <tr>
          <td><span class="titulodois">PREÇO:</span></td>
          <td><input type="text" name="precopro" class="precoProd" value=""></td>
        </tr>

        <tr>
          <td><span class="titulodois">FOTO:</span></td>
          <td><input type="file" name="fotopro"></td>
        </tr>
      </table>

      <p id="areabt">
        <input type="submit" name="acao" class="botaoCat" value="{$textoBotao}">
        <input type="submit" name="acao" class="botaoCat" value="Novo">
      </p>
    </form>

    <div id="arealista">
      <table>
        <tr>
          <td width="220px"><span class="tituloListaCat">PRODUTOS</span></td>
          <td width="220px"><span class="tituloListaCat">CATEGORIA</span></td>
          <td><span class="tituloListaCat">EDITAR</span></td>
          <td><span class="tituloListaCat">EXCLUIR</span></td>
        </tr>

        <!-- BLOCO PRODUTOS -->

        <tr>
          <td><span class="tituloResp"></span></td>
          <td><span class="tituloResp"></span></td>
          <td>
            <a href="cad-produtos.php?idpro=&acao=editar"><img src="./inc/editar.png"></a>
          </td>
          <td>
            <a href="cad-produtos.php?idpro=&acao=excluir" onclick="return verificar()"><img
                src="./inc/excluir.png"></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>